/*************
General
**************/

*{
    box-sizing: border-box;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

a:hover{
    cursor: pointer;
}

li{
    list-style-type: none;
    margin-top: 20px;
}

/**************
Styles
**************/

#container{
    width: 70%;
    margin: 0 auto;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 1px; /*to prevent margin collapse*/
    clear: both;
}

header{
    border-radius: 20px 20px 0 0;
    background: lightgrey;
    text-align: center;
    padding: 1px; /*to prevent margin collapse*/
    font-family: Pacifico;
}

h1{
    margin-top: 10px;
    margin-bottom: 2px;
}

h2{
    margin-top: 7px;
    margin-bottom: 10px;
    font-weight: normal;
}

#content{
    margin: 20px;
}

ul{
    overflow: hidden;
    padding: 0;
}

li{
    float:left;
    width: 50%;
    text-align: center;
}

.thumbnails{
    border: double;

}

h3, p{
    display:inline-block;
    margin-left: 20px;
    text-align: center;
}

.download{
    display: block;
    margin: 25px auto;
    width: 70%;
    border-bottom: 3px double black;
}

.download-icon, .patent-icon{
    width: 80px;
    margin-left: 35px;


}



/*************
Media Query
**************/

@media screen and (max-width: 800px){
    #container{
        width: 100%;
    }
    #content li img:not([class="dl-icon"]):not([class="ptnt-link"]){
        float: none;
        display: block;
        width: 100px;
        margin: 0 auto;
    }

    p{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        display: block;
    }


    h3{
        width: 200px;
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    .download{
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    .download-icon, .patent-icon{
        margin: 20px auto;
    }


}















